.single-part {
    display: flex;
    flex-direction: column;
    border: 1px solid teal;
}

.single-part__item {
    display: flex;

}



.single-part__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 20px;
}

.single-part__total-price {
    resize: none;
}